.suggestions {
  /* Styles of the suggestions container */
  overflow-y: scroll;
  border: 1px solid #f3f3f3;
  background-color: white;
  max-height: 20rem;
  height: fit-content;
  position: absolute;
  z-index: 10;
}

.suggestions.hidden {
  /* Will hide the suggestions */
  visibility: hidden;
}