.suggestions {
  overflow-y: scroll;
  background-color: #99e599;
  border: 1.5px solid #f17b85;
  color: #423460;
  max-height: 20rem;
  margin-left:100px;
  width: 305px;
  height: fit-content;
  position: absolute;
  z-index: 10;
}

.suggestions.hidden {
  visibility: hidden;
}